h1{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  margin-top : 20px;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  cursor: pointer;
}
h1:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  cursor: pointer;
}
h1:hover:after { 
  width: 100%; 
  left: 0; 
  cursor: pointer;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
#heading{
  animation-name: example;
  animation-duration: 6s;
  opacity: 1;
}
@keyframes example {
  0%   {opacity: 0;}
  20%  {opacity:  0.20;}
  40%  {opacity:  0.40;}
  60% {opacity:  0.60;}
  80% {opacity:  0.80;}
  100% {opacity:  1;}
}
#photo{
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f3f3f3;
  color: #111;
  cursor: pointer;
  position: relative;
  padding: 20px;
  margin-top : 20px;
}
#photo:before{
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  left: 0;
  bottom: 0;
  border: 3px solid transparant;
  box-sizing: border-box;
}
#photo:hover:before{
  width: 30%;
  height: 100%;
  border: 3px solid #111;
  border-right: none;
  border-bottom: none;
  transition: height 0.3s linear, 
              width 0.3s linear 0.3s;
}
#photo:after{
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border: 3px solid transparant;
  box-sizing: border-box;
}
#photo:hover:after{
  width: 70%;
  height: 100%;
  border: 3px solid #111;
  border-left: none;
  border-top: none;
  transition: height 0.3s linear, 
              width 0.3s linear 0.3s;
}
img{
  border-radius: 120px;
  border : 2px solid black;
}
h3{
  text-align: center;
}
#social {
  margin: 20px;
}
#social:hover{
  padding-bottom: 5px; 
}
#mail{
  margin: 20px !important;
  font-family: 'Sofia';
  padding: 10px;
  font-size: 25px;
}
a:hover{
  text-decoration: none;
  color: black;
}
#media-link > .fa {  
  padding: 20px;  
text-align: center;  
  margin: 5px;  
  font-size: 30px;  
  width: 100px;  
}
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  
#media-link{
  margin-top: 10px;
}






